body{
    background-image: url(photo3.avif);
    background-repeat: no-repeat;
    background-size: 1550px 950px;
}
h1,h2{
    color: red;
    font-size: 31px;
}
button{
    height: 50px;
    width: 180px;
    background-color: pink;
    color: white;
    font-size: 23px;
    border-radius: 30px;
    font-weight: bold;
}
h1,h2{
    margin-left: 600px;
}
#text1{
    margin-left: 600px;
}




    

